%h3 ﻿WORKSHOP INFORMATION

%p 
  %a{:title => 'http://LACUNA.CLUB', :href => 'http://lacuna.club'}LACUNA 
  (a studio space in NE PDX) is hosting workshops on a variety of topics around the theory and operation of the free and open source software 
  %a{:title => 'puredata website', :href => 'http://puredata.info'}Pure Data. 
  in keeping with the spirit of 
  %a{:title => 'wikipedia', :href => 'https://en.wikipedia.org/wiki/Free_and_open-source_software'} FOSS 
  the cost of the workshops is donation based. 
  %br
  %br
  anyone with an interest in puredata is encouraged to attend. the format and structure of the workshops will accommodate any level of expierence with puredata. example puredata files (patches) as well as outlines with information and web links will be provided for download prior to each workshop event. each event will aim to go though the operation of puredata on some topic (or maybe several topics, depending on interest). people are invited to share information, get feedback, collaborate, and discuss. this would be a great opportunity to ask questions, get help, or to share things you have been working on.  
  %br
  %br 
  we would like to accomodate the interests and schedules of those who'd like to attend. so if you would please fill out the following form it would help LACUNA in planning. 


%h3 INQUIRY FORM

%form(action='/' method='POST' id='pdForm')

  %label who are you? 
  %input(type='text' name='name' title='Please enter some input (at least 2 characters)' class='required' minlength='2')

  %label what's your email? 
  %input(type='text' name='email' title='Please enter some input (at least 3 characters)' class='required' minlength='3')


  %label topics of interest?
  %input{:type => "checkbox", :value => "synth", :name => "topicz[]", :id => "topicz1", :class => "required"} sound synthesis
  %br
  %input{:type => "checkbox", :value => "dmxlighting", :name => "topicz[]", :id => "topicz2"} dmx lighting 
  %br
  %input{:type => "checkbox", :value => "raspberrpi", :name => "topicz[]", :id => "topicz3"} raspberry pi
  %br
  %input{:type => "checkbox", :value => "videogem", :name => "topicz[]", :id => "topicz3"} video (gem)
  %br
  %input{:type => "checkbox", :value => "osc", :name => "topicz[]", :id => "topicz4"} OSC
  %br
  %input{:type => "checkbox", :value => "streamingaudio", :name => "topicz[]", :id => "topicz5"} streaming audio
  %br
  %input{:type => "checkbox", :value => "syncingvideo", :name => "topicz[]", :id => "topicz6"} syncing video
  %br
  %input{:type => "checkbox", :value => "sequencing", :name => "topicz[]", :id => "topicz7"} sequencing
  %br
  %input{:type => "checkbox", :value => "sampling", :name => "topicz[]", :id => "topicz8"} sampling
  %br
  %input{:type => "checkbox", :value => "generaltheoryandoperation", :name => "topicz[]", :id => "topicz8"} general theory & operation
  %br
  %input{:type => "checkbox", :value => "other", :name => "topicz[]", :id => "topicz8"} other

  %label general day/time preference?
  %input{:type => "checkbox", :value => "saturdayafternoon", :name => "datez[]", :id => "datez1", :class => "required"} weekend afternoon
  %br
  %input{:type => "checkbox", :value => "sundayafternoon", :name => "datez[]", :id => "datez2"} weekday afternoon
  %br
  %input{:type => "checkbox", :value => "tuesdayevening", :name => "datez[]", :id => "datez3"} weekday evening
  

  %label specific dates? (check all that apply)
  %div{:id => "datezpicker"}
  %input{:type => "text", :name => "specificdatez", :id => "specificdatez", :type => "hidden"}
  
  %label are you new to PureData? 
  %input{:type => "radio", :value => "yes", :name => "newtopd[]", :id => "newtopd1", :class => "required"} yes
  %input{:type => "radio", :value => "no", :name => "newtopd[]", :id => "newtopd2"} no
  
  %label anything else?
  %input(type='text' name='other' id='other' data-autosize-input='{ "space": 20 }')

  %br
  %br
  %input(type='button' value='Reset' name='reset' id='reset')
  %input(type='submit')
  
%div(id='result')